.createTodoItemButton{
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  margin-left: 2rem;
  background-color: #4476FF;
  color: white;
  font-size: 1rem;
}

.newTodoItemTextField{
  width: 20rem;
  height: 2rem;
  border-radius: 0.5rem;
}