.app{
    background: white;
    margin: 0 auto;
    justify-content: flex-start;
    width: 70rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title{
    margin: 3rem auto 1rem;
}

hr{
    height: 0.5px;
    width: 80%;
    background-color: gray;
}

.listContainer{
    margin: 0 auto;
}