.todoItem{
  width: 45rem;
  height: 5rem;
  border: gray solid 1px;
  margin-top: 1rem;
  border-radius: 0.7rem;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  transition: opacity 0.2s ease-in-out;
}

.inactive {
  opacity: 0.5;
  pointer-events: none;
}

p{
  color: gray;
  margin: 0;
  padding: 0;
}

h4{
  margin: 0;
  padding: 0;
}

.manipulateTaskButton{
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.todoText{
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

select{
  height: 1.5rem;
  border-radius: 0.4rem;
}

